<!-- Work in progress -->
<h1> Here you can see the summary by day</h1>
 
<form action="/todo/summary_by_day" method = "POST">
<input type="text" name="day">
<input type="submit" name="Send day"> 
</form>